---
interface Props {
  name: string
  description: string
  id: string
}

const { name, description, id } = Astro.props
---

<a
  href=`/restaurants/${id}`
  class = "rounded-log border shadow-md bg-gray-800 border-gray-700
  hover:scale-105 hover:bg-gray-700 hover:border-gray-500 transition flex flex-col"
>
  <header class="p-4 flex-grow">
    <h2 class="my-2 text-2xl font-bold trancking-tight text-white">
      {name}
    </h2>
    
    <h3 class="mb-4 font-light text-gray-400">
      {description}
    </h3>
  </header>
</a>