---
import CardAllMenus from "./CardAllMenus.astro"
import { getAllMenus } from "../services/api"

const menusRestaurants = await getAllMenus()
---

<div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
  {
    menusRestaurants.map(menuRestaurant =>
      <CardAllMenus
        id = { menuRestaurant.id }
        name = { menuRestaurant.name }
        menus = { menuRestaurant.menus }
      />
    )
  }
</div>