---
import CardRestaurantsHome from "../components/CardRestaurantsHome.astro"
import { getAllRestaurants } from "../services/api"

const restaurants = await getAllRestaurants()
---

<div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
  {
    restaurants.map(restaurant =>
      <CardRestaurantsHome
        id = { restaurant.id }
        name = { restaurant.name }
        description = { restaurants.description }
      />
    )
  }
</div>