---
import { getRestaurantById } from "../../services/api"
import Layout from '../../layouts/Layout.astro'
import CardRestaurant from "../../components/CardRestaurant.astro"

const { id } = Astro.params
const restaurant = await getRestaurantById({ id })
---

<Layout title="Restaurant by id">
  <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
    <CardRestaurant
    id = { restaurant.id }
    name = { restaurant.name }
    description = { restaurant.description }
    phone = { restaurant.phone }
    openTime = { restaurant.openTime }
    closeTime = { restaurant.closeTime }
    rate = { restaurant.rate }
  />
  </div>
</Layout>