---
import Layout from '../layouts/Layout.astro'
import RestaurantsSmallComponent from "../components/RestaurantsSmall.astro"
---

<Layout title="Front tecnica Transvip">
	<h3 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
		Restoranes
	</h3>
	<RestaurantsSmallComponent/>
</Layout>